h1, h2 h3, h3 h4, h5, h6{
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size:42px;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height:44px;
    margin: 10px;}

p{
    font-family: Georgia, Cambria, "Times New Roman", Times, serif
}

code{
    font-family: "Courier New", monospace;
}

.head{
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 20px 38px;
        background-color: whitesmoke;
        border: solid #333333;
        border-right-width: 0px;
        border-left-width: 0px;
        gap: 30px;
    }
    li a {
        color: #333333;
        font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
        line-height:36px;
        font-size:24px;
    }
    li .red_text {
        color:#d0021b;
    }
}

li a:hover {
    text-decoration: underline;
}

article {
    max-width: 700px;
    margin: auto;
    
}


code {
    font-family: "Courier New", monospace;
}
p {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size:21px;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height:33px;
    margin: 10px;
}
section {
    margin-bottom: 55px;
    margin-top: 21px;
}
.logo {
    width: 101px;
    height: 64px;
}
img {
    max-width: 700px;
    width: 100%;
    height: auto;
}
section img {
    margin-top: 43px;
    margin-bottom: 37px;
}

.hand{
    width: 23px;
    height: auto;
    margin-left: -30px;
    margin-bottom: -20px;
}


@media (max-width: 800px) {
/* Тут пиши стили для мобилки.
    Стили применятся только когда страничка будет ≤800px шириной
 */
}